In [6]:
import pandas as pd
cleaned_df = pd.read_excel('./SpotifyDataCleaned.xlsx')

In the first iteration, the project group found it irrelevant to include artist names and therefore remove them.
It was also concluded to remove artist_genre and release_date because those attributes kept giving an error in the training of the models, because of the datatype was a string, and could not convert string to float. This means that the model was expecting numbers, but because of the mentioned attributes was string/object, it gave an error message instead. 

It gave some errors to drop column artist_names, artist_genre and release_date, thats why an if else statement was initialized.

In [5]:
# Check if the columns exist in the DataFrame and then drop them
if 'artist_names' in cleaned_df.columns and 'artist_genre' in cleaned_df.columns and 'release_date' in cleaned_df.columns:
    cleaned_df = cleaned_df.drop(['artist_names', 'artist_genre'], axis=1)
else:
    print("One or both columns not found in the DataFrame.")

# Display the first few rows of the DataFrame to confirm the changes
cleaned_df.head()

One or both columns not found in the DataFrame.

,artists_num,collab,release_date,album_num_tracks,source,peak_rank,weeks_on_chart,streams,danceability,energy,key,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration
0,1,0,2021-04-22,15,Som Livre,4,36.50000,37158272,0.752,0.620,5,-5.536,0.0509,0.30900,0.0,0.0750,0.962,117.399,164459
1,2,1,2017-03-23,1,RCA Records Label,46,9.00000,215055522,0.748,0.627,7,-6.029,0.0639,0.13100,0.0,0.0852,0.524,120.963,188491
2,1,0,2022-02-14,13,SM Entertainment,61,2.00000,48580,0.585,0.683,8,-3.827,0.0523,0.73700,0.0,0.1140,0.493,128.018,157987
3,1,0,2018-06-15,1,Def Jam Recordings,112,1.50000,9944865,0.353,0.755,1,-6.276,0.7330,0.08220,0.0,0.3900,0.437,191.153,193680
4,1,0,2004,12,Island Records,44,129.30303,429376201,0.352,0.911,1,-5.230,0.0747,0.00121,0.0,0.0995,0.236,148.033,222973

Once again, make new file for the updated dataset to work in the modeling iteration 1

In [12]:

if 'Unnamed: 0' in cleaned_df.columns:
    cleaned_df.drop('Unnamed: 0', axis=1, inplace=True)

# Save the DataFrame back to CSV without the unwanted column
cleaned_df.to_excel('SpotifyDataCleaned.xlsx', index=False)

print(cleaned_df.columns)

Index(['artists_num', 'collab', 'release_date', 'album_num_tracks', 'source',
       'peak_rank', 'weeks_on_chart', 'streams', 'danceability', 'energy',
       'key', 'loudness', 'speechiness', 'acousticness', 'instrumentalness',
       'liveness', 'valence', 'tempo', 'duration'],
      dtype='object')